body{
    background: #fff;
    background: linear-gradient(to right, #e9e9e9,#fff);
    font-family:'Poppins', sans-serif;
    

  }


  .bg{
      background-image: url(/img/bg_1.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 105%;
      
  
  }

  #texto-logo {
    font-family:'Ephesis', bold;
    font-size:40px

  }

  #grulla {
    background-image: url(img/logobold.png);
    width:100px; 
  }

  #welcome {
      font-size: 27px;
  }