@font-face {
    font-family: "Poppins-Regular";
    src: url("././fonts/poppins/Poppins-Regular.ttf"); }
@font-face {
    font-family: "Poppins-SemiBold";
    src: url("././fonts/poppins/Poppins-SemiBold.ttf"); }
body{
    background-image: url(img/bg-registration-form-1.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 13px !important;
    font-family: "Poppins-Regular" !important;

}
#header{
    background-color: white !important;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: -2% ;
}
.btn {
    color: white !important;
}
.mb-4{
    margin-bottom: 0px !important ;
}
.nav{
    background-color: transparent !important;
}
/*p{
    color: green;
    
}*/


.navbar-toggler-icon{

    margin: 2px;
    display: inline-block!important;
    width: 1.5em!important;
    height: 1.5em!important;
    border: 2px solid black ;
    border-radius: 50px;
    vertical-align: middle!important;
    background: url(https://cdn-icons-png.flaticon.com/512/32/32195.png);
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: 100%!important;
}
.icononav{
    width: 27px!important;
    margin: 10px!important;

}
.icononav:hover {
}
.contenedoricon{
    position: relative;
    display: inline-block;
    text-align: center;
}
.centrado{
    padding: 2px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 11px;
}
.centrado:hover{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 11px;
    background-color: orange;
    border-radius: 10px;
}
.footer{
    background-color: white;
}

.tiposarte{
    list-style-type: none;
    padding: 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;

}
.tiposarte li{
    display: inline-block;
    text-align: center;
    padding-left: 2cm;
    margin: 5px;

}
.tiposarte li a{
    text-decoration: none;
    color: black;
    display: block;

}
.tiposarte li a:hover{
    background-color: orange;
    color: black;

}



.cont{
    text-align: center;
}
.textnav{
    font-size: 12px;
    color: white;
    border: 1px solid black;
    background-color: black;
    border-radius: 10px;
    padding: 3px;
}
h10{
    font-size: 11px;
}
a{
    text-decoration: none;
    color: black;
    
    font-size: 13px;
}
.infofooter{

    text-align: left !important;
    margin-top: 7px;
    margin-left: 100px;
}
.horarios{

    text-align: left !important;
    margin-left: 120px;
}
.ico-footer{
    width: 30px;
    margin: 5px;
}
.icosociales{
    width: 30px;
    margin: 0.5em;
}
.justify{
    text-align: justify;
}
.footer{
    background-color: #fff;
    opacity: 0.9;
}
.row{
    font-size: 13px !important;
}
h6{
    font-size: 13px !important;
}




